*{
    box-sizing: border-box;
}
body {
    margin: 0;
    
}
h1 {
    text-align: center;
}
.card-class{
    width: 50%;
    position: absolute;
    left: 25%;
}
.btn1{
    display: flex;
    justify-content: center;
}

